@model IEnumerable<CashierControl.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Relatórios de caixa</h2>
    <a asp-action="Calc" class="btn btn-outline-purple">Nova entrada</a>
</div>

<br></br>

<div style="display: flex; justify-content: space-between; margin-top: 20px;">

    <div class="col-md-2" style="background-color: #ffff; padding: 10px; box-shadow: 0px 0px 3px 0px #000000; border-radius: 10px; text-align: center;">
        <p>Pagamento: R$@ViewBag.BankSlipSum</p>
    </div>

    <div class="col-md-2" style="background-color: #ffff; padding: 10px; box-shadow: 0px 0px 3px 0px #000000; border-radius: 10px; text-align: center;">
        <p>Saque: R$@ViewBag.CashOutflowSum</p>
    </div>

    <div class="col-md-2" style="background-color: #ffff; padding: 10px; box-shadow: 0px 0px 3px 0px #000000; border-radius: 10px; text-align: center;">
        <p>Abertura de caixa: R$@ViewBag.BoxOpenSum</p>
    </div>

    <div class="col-md-2" style="background-color: #ffff; padding: 10px; box-shadow: 0px 0px 3px 0px #000000; border-radius: 10px; text-align: center;">
        <p>Depositos: R$@ViewBag.DepositSum</p>
    </div>

    <div class="col-md-2" style="background-color: #ffff; padding: 10px; box-shadow: 0px 0px 3px 0px #000000; border-radius: 10px; text-align: center;">
        <p>Entrada: R$@ViewBag.TotalEntrada</p>
    </div>
    

</div>





@using (Html.BeginForm("Index", "Main", FormMethod.Get))
{
    <div style="margin-top: 50px;">

        <div style="padding: 15px; border-radius: 10px; box-shadow: 0px 0px 5px 0px #000000;">

            <div class="form-group">
                <label for="startDate">Data de início:</label>
                <input type="date" id="startDate" name="startDate" class="form-control" style="margin-right: 10px;" value="@ViewBag.StartDate" />

                <label for="endDate">Data de término:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" value="@ViewBag.EndDate" />
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Pesquisar</button>

        </div>
    </div>

}

<br></br>

@* BanckSlipValue *@


<h5>Relatório de pagamento</h5>
<table class="table" style="border: 1px solid #6f42c1; background-color: transparent;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankSlipValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankSlipsQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        foreach (var item in Model)
        {
            if (item.Operation == "Pagamento" && item.Status == true)
            {
                @* BanckSlipValue *@
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankSlipValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankSlipsQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Operation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                    </tr>
                </tbody>
            }
        }
    }
</table>

<br></br>

@* CashOutFlow *@


<h5>Relatório de Saque</h5>
<table class="table" style="border: 1px solid #6f42c1; background-color: transparent;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashOutflow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        foreach (var item in Model)
        {
            if (item.Operation == "Saque" && item.Status == true)
            {
                @* CashOutFlow *@
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CashOutflow)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Operation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                    </tr>
                </tbody>
            }
        }
    }
</table>

<br></br>

@* BoxOpen *@

<h5>Relatório de abertura de caixa</h5>
<table class="table" style="border: 1px solid #6f42c1; background-color: transparent;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        foreach (var item in Model)
        {
            if (item.Operation == "Abertura de caixa" && item.Status == true)
            {
                @* BoxOpen *@
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoxOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Operation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                    </tr>
                </tbody>
            }
        }
    }
</table>


<br></br>

@* Deposit *@


<h5>Relatório de Depósitos</h5>
<table class="table" style="border: 1px solid #6f42c1; background-color: transparent;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        foreach (var item in Model)
        {
            if (item.Operation == "Deposito" && item.Status == true)
            {
                @* BoxOpen *@
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepositValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Operation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                    </tr>
                </tbody>
            }
        }
    }
</table>
