@model IEnumerable<CashierControl.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Relatório de caixa</h2>
    <a asp-action="Create" class="btn btn-outline-purple">Nova entrada</a>
</div>

<br></br>

<table class="table" style="border: 1px solid #6f42c1; background-color: transparent;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankSlipValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                Deletar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankSlipValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
        </tr>
}
    </tbody>
</table>
